<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.msu.project1.barrelofmonkeys"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.msu.project1.barrelofmonkeys.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.msu.project1.barrelofmonkeys.DrawingActivity"
            android:label="@string/title_activity_drawing" >
        </activity>
        <activity
            android:name="edu.msu.project1.barrelofmonkeys.GuessingActivity"
            android:label="@string/title_activity_guessing" >
        </activity>
        <activity
            android:name="edu.msu.project1.barrelofmonkeys.ColorSelectActivity"
            android:label="@string/title_activity_color_select" >
        </activity>
        <activity
            android:name="edu.msu.project1.barrelofmonkeys.LineSelectActivity"
            android:label="@string/title_activity_color_select" >
        </activity>
        <activity
            android:name="edu.msu.project1.barrelofmonkeys.HintSelectionActivity"
            android:label="@string/title_activity_hint_selection" >
        </activity>
        <activity
            android:name="edu.msu.project1.barrelofmonkeys.CorrectGuessActivity"
            android:label="@string/title_activity_correct_guess" >
        </activity>
        <activity
            android:name="edu.msu.project1.barrelofmonkeys.ScoreActivity"
            android:label="@string/title_activity_score" >
        </activity>
        <activity
            android:name="edu.msu.project1.barrelofmonkeys.GameManagerActivity"
            android:label="@string/title_activity_game_manager" >
        </activity>
    </application>

</manifest>